In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
data = pd.read_csv("median-resale-prices-for-registered-applications-by-town-and-flat-type/median-resale-prices-for-registered-applications-by-town-and-flat-type.csv")

In [7]:
data

      quarter        town flat_type   price
0     2007-Q2  Ang Mo Kio    1-room      na
1     2007-Q2  Ang Mo Kio    2-room       -
2     2007-Q2  Ang Mo Kio    3-room  172000
3     2007-Q2  Ang Mo Kio    4-room  260000
4     2007-Q2  Ang Mo Kio    5-room  372000
...       ...         ...       ...     ...
8263  2020-Q2      YISHUN    2-ROOM       -
8264  2020-Q2      YISHUN    3-ROOM  265000
8265  2020-Q2      YISHUN    4-ROOM  379000
8266  2020-Q2      YISHUN    5-ROOM  485000
8267  2020-Q2      YISHUN      EXEC       -

[8268 rows x 4 columns]

In [20]:
data['quarter'].value_counts()

2007-Q2    156
2007-Q3    156
2008-Q2    156
2012-Q4    156
2015-Q3    156
2010-Q1    156
2011-Q2    156
2019-Q4    156
2013-Q4    156
2012-Q2    156
2018-Q4    156
2009-Q2    156
2008-Q1    156
2007-Q4    156
2012-Q3    156
2018-Q2    156
2017-Q1    156
2011-Q1    156
2011-Q3    156
2013-Q1    156
2010-Q3    156
2014-Q4    156
2015-Q4    156
2016-Q4    156
2020-Q2    156
2020-Q1    156
2016-Q1    156
2008-Q3    156
2008-Q4    156
2010-Q2    156
2010-Q4    156
2014-Q1    156
2019-Q1    156
2016-Q2    156
2009-Q3    156
2019-Q3    156
2019-Q2    156
2015-Q2    156
2017-Q4    156
2009-Q1    156
2016-Q3    156
2015-Q1    156
2013-Q3    156
2011-Q4    156
2018-Q1    156
2017-Q3    156
2014-Q3    156
2018-Q3    156
2014-Q2    156
2009-Q4    156
2013-Q2    156
2012-Q1    156
2017-Q2    156
Name: quarter, dtype: int64

In [21]:
data['town'].value_counts()

Hougang            288
Bukit Panjang      288
Pasir Ris          288
Woodlands          288
Sengkang           288
Bukit Merah        288
Choa Chu Kang      288
Clementi           288
Yishun             288
Sembawang          288
Geylang            288
Marine Parade      288
Jurong West        288
Tampines           288
Bishan             288
Ang Mo Kio         288
Kallang/Whampoa    288
Toa Payoh          288
Bedok              288
Queenstown         288
Serangoon          288
Central            288
Bukit Batok        288
Jurong East        288
Bukit Timah        288
Punggol            288
ANG MO KIO          30
SERANGOON           30
JURONG EAST         30
PUNGGOL             30
SENGKANG            30
CHOA CHU KANG       30
KALLANG/WHAMPOA     30
CLEMENTI            30
JURONG WEST         30
HOUGANG             30
BUKIT MERAH         30
WOODLANDS           30
BUKIT TIMAH         30
CENTRAL AREA        30
TAMPINES            30
BEDOK               30
BUKIT PANJANG       30
TOA PAYOH           30
PASIR RIS           30
QUEENSTOWN          30
SEMBAWANG           30
YISHUN              30
BISHAN              30
BUKIT BATOK         30
MARINE PARADE       30
GEYLANG             30
Name: town, dtype: int64

In [22]:
data['flat_type'].value_counts()

3-room       1248
Executive    1248
5-room       1248
2-room       1248
4-room       1248
1-room       1248
3-ROOM        130
4-ROOM        130
EXEC          130
1-ROOM        130
5-ROOM        130
2-ROOM        130
Name: flat_type, dtype: int64

In [23]:
data['price'].value_counts()

-         2211
na        2197
420000      39
300000      35
400000      35
          ...
506500       1
264500       1
356600       1
530900       1
437300       1
Name: price, Length: 1063, dtype: int64